<nav>
    <ul class="menu-aside">
        <li class="menu-item">
            <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li class="menu-item has-submenu ">
            <a class="menu-link" href="userlist.html"> <i class="icon material-icons md-person"></i>
                <span class="text" >User</span>
            </a>
            <div class="submenu">
                <a href="/admin/users" class="active">User List</a>
            </div>
        </li>
        <li class="menu-item has-submenu ">
            <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">Products</span>
            </a>
            <div class="submenu">
                <a href="/admin/product" class="active">Product List</a>
                <a href="/admin/addProduct" >Add product</a>
                <a href="page-products-grid-2.html">Product grid 2</a>
                <a href="/admin/category" class="">Categories</a>
            </div>
        </li>
        <li class="menu-item has-submenu ">
            <a class="menu-link" href="userlist.html"> <i class="icon material-icons md-person"></i>
                <span class="text" >Orders</span>
            </a>
            <div class="submenu">
                
                <a href="/admin/orderList" class="active">Order list</a>
            </div>
        </li>
        <li class="menu-item has-submenu ">
            <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">Sales Report</span>
            </a>
            <div class="submenu">
                <a href="/admin/salesReport" >Report</a>
                
            </div>
        </li>
        <li class="menu-item has-submenu ">
            <a class="menu-link" href="userlist.html"> <i class="icon material-icons md-person"></i>
                <span class="text" >Coupons</span>
            </a>
            <div class="submenu">
                
                <a href="/admin/getCoupon" class="">Add Coupon</a>
                <a href="/admin/couponList" class="">Coupon List</a>
            </div>
        </li>
        <li class="menu-item has-submenu ">
            <a class="menu-link" href=""> <i class="icon material-icons md-person"></i>
                <span class="text" >Banner</span>
            </a>
            <div class="submenu">
                
                <a href="/admin/addBanner" class="">Add Banner</a>
                <a href="/admin/bannerList" class="">Banner List</a>
            </div>
        </li>
    </ul>
    <br>
    <br>
</nav>